.top-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-column-align: end;
    margin-top: 78px;
    margin-right: 44px;

    .current-week-day {
        font-size: 25px;
        margin: 0;
    }

    .current-date {
        font-size: 12px;
        margin: 0;
    }

    .weather-degree {
        font-size: 92px;
        line-height: 92px;
        white-space: nowrap;
    }

    .weather-degree:after {
        content: "\00b0";
        font-size: 44px;
        line-height: 44px;
        vertical-align: top;
    }

    .weather-area {
        font-size: 22px;
    }

    &__item--center {
        -ms-grid-column-align: center;
        justify-self: center;
    }

    &__item--ms {
        -ms-grid-column: 2;
    }

    .wind-information {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: min-content 1fr;
        grid-template-columns: min-content 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        margin-top: 23px;

        .wind-picture {
            margin-right: 10px;
        }

        .wind-value {
            font-size: 25px;
            margin: 0;
        }

        .wind-speed {
            font-size: 12px;
        }

        &__item--ms-colomn-2 {
            -ms-grid-column: 2;
        }
    }
}