.top-block {
    display: flex;
    justify-content: flex-end;
    margin-right: 44px;
    margin-top: 78px;

    @media screen and (max-width: 420px) and (orientation:portrait) {
        justify-content: space-around;
        margin-right: 0;
    }

    .current-week-day {
        font-size: 25px;
        margin: 0;
    }

    .current-date {
        font-size: 12px;
        margin: 0;
    }

    .weather-degree {
        font-size: 92px;
        line-height: 92px;
    }

    .weather-degree:after {
        content: "\00b0";
        font-size: 44px;
        line-height: 44px;
        vertical-align: top;
    }

    .weather-area {
        font-size: 22px;
    }

    &__item--right {
        padding-right: 24px;
    }

    .wind-information {
        margin-top: 23px;
        display: flex;

        .wind-picture {
            margin-right: 10px;
        }

        .wind-value {
            font-size: 25px;
            margin: 0;
        }

        .wind-speed {
            font-size: 12px;
        }
    }
}